Welcome

<%= form_tag root_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>

<% if vendor_signed_in? %>
	<%= link_to 'update your profile', newprofile_path(@vendorprofile) %> 
<% end %>

<p>list of vendors </p>
<% @vendorprofiles.each do |vendorprofile| %>
	<%= link_to vendorprofile.name, vendor_path(vendorprofile.id) %> </br>
	
          

    <% link_to 'Delete', delete_path(vendorprofile.id) %>

<% end %>




