
<strong> Name: </strong>
<%= @vendorprofile.name %> </br>

<strong> zipcode: </strong>
<%= @vendorprofile.zipcode %> </br>

<strong> phone: </strong>
<%= @vendorprofile.phone %> </br>

<strong> description </strong>
<%= @vendorprofile.description %> </br>
<p>
  <strong>Address:</strong>
  <%= @vendorprofile.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @vendorprofile.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @vendorprofile.longitude %>
</p>
<% if vendor_signed_in? %> 
<%= link_to 'Edit', edit_path(@vendorprofile) %>
<%= link_to 'Delete', delete_path(@vendorprofile) %>
<% end %>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@vendorprofile.latitude}%2C#{@vendorprofile.longitude}" %>




