
<strong> Name: </strong>
<%= @vendorprofile.name %> </br>

<strong> zipcode: </strong>
<%= @vendorprofile.zipcode %> </br>

<strong> phone: </strong>
<%= @vendorprofile.phone %> 
<div class="pull-right">
	<button onclick="callCustomer('<%= @vendorprofile.phone %>')" type="button" class="btn btn-primary btn-lg call-customer-button">
		<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
	            Call customer
	</button>
</div>
<p>
	<strong> description </strong>
	<%= @vendorprofile.description %> 
</p>
<p>
  <strong>Address:</strong>
  <%= @vendorprofile.address %>
</p>

<% if vendor_signed_in? %> 
<%= link_to 'Edit', edit_path(@vendorprofile) %>
<%= link_to 'Delete', delete_path(@vendorprofile) %>
<% end %>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@vendorprofile.latitude}%2C#{@vendorprofile.longitude}" %>




